# 2  数据处理与探索
数据探索是在数据科学中很重要的步骤，也是可视化中的关键一环。

数据探索包括数据的清洗、数据的转换。

tidyverse提供了完整的数据科学的流程，使用tidyverse可以非常方便的进行数据相关的处理。

## 2.1 数据转换
在对数据尽心可视化，对数据进行分析之前，常常需要对数据进行各种的转换，以将数据转变成为整洁的数据。tidyverse包中的子包dplyr提供了很多函数对于数据集进行各种各样的处理。dplyr是tidyverse中非常重要的一个包，在对数据进行可视化，建模之前，往往会对数据集使用dplyr包进行处理。
dplyr包有几个关键的函数，这些函数囊括了数据转换的全部功能。这些函数包括：filter，arrange，select，mutate，summarize。其中filter函数用于筛选数据的行；arrange函数用于对数据进行排序；select函数用于筛选数据的列；mutate函数用于生成新的变量。summarize函数用于计算数据的一些统计指标。

另外一个比较常用的函数式group_by函数，这个函数常常被用于对数据进行分组汇总计算。
### 2.1.1 筛选数据的行

第一个要介绍的函数是filter函数，filter函数用于筛选数据集的行，用于创建一个关于数据集的子集。filter函数的第一个参数是需要处理的数据集。第二个参数是筛选数据集的条件。

In [1]:
#install.packages("tidyverse")
require(tidyverse) # 加载相关的包

载入需要的程辑包：tidyverse

Warning message:
"程辑包'tidyverse'是用R版本4.1.2 来建造的"
-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.5     v purrr   0.3.4
v tibble  3.1.4     v dplyr   1.0.7
v tidyr   1.1.3     v stringr 1.4.0
v readr   2.1.1     v forcats 0.5.1

Warning message:
"程辑包'ggplot2'是用R版本4.1.2 来建造的"
Warning message:
"程辑包'readr'是用R版本4.1.2 来建造的"
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter()  masks stats::filter()
x purrr::flatten() masks jsonlite::flatten()
x dplyr::lag()     masks stats::lag()

In [2]:
iris %>% filter(Sepal.Length > 3) %>% head(3) # 筛选数据集

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa

总结一下常用的逻辑判断方式：

1. ！ ：表示否等，‘!=’表示不等于
2. %in% :表示是否在某一项向量中,例如，1 %in% c(1,2,3)，返回是TRUE
3. %nin% :表示某一个值是否不再某一个向量中，例如， 1 %nin%% c(1,2,3)返回的是FALSE，需要注意的是，想要使用这个方法进行判断，需要加载Hmise包
4. & ：表示并且
5. | ：表示或者
常用的函数总结如下：

 
1. distinct : 去除重复的数据集
2. sample_frac  :根据比例对于数据集进行抽样
3. sample_n : 随机抽取一定的样本数量
4. slice ：根据数据集的行数抽取数据
5. top_n ：抽取数据集的前多少行
上述五个函数的使用方式：

distinct函数有三个参数，函数的定义形式为：```distinct(.data, ..., .keep_all = FALSE)```。第一个参数为data，表示需要处理的数据集。第二个参数是...,这是函数中的一个特殊的参数，表示将data参数之后的参数都作为参数输入，‘...’这个参数在不确定函数会输入几个参数的时候非常用用。keep_all参数用于指定是否保留所有的列。

In [3]:
tmp <- data.frame(a = c(1,1,2,3,3),b = c(2,3,4,5,5)) # 创建数据框
tmp

  a b
1 1 2
2 1 3
3 2 4
4 3 5
5 3 5

上面的代码中创建了一个简单的数据集，有两个变量。接下来使用distinct函数进行去重。首先根据变量a进行去除。

In [4]:
tmp %>% distinct(a) # 对于数据进行去除重复数据

  a
1 1
2 2
3 3

上面的代码根据对数据集的a变量进行了去重，并且distinct函数返回了变量a去重之后的结果。如果想要返回的是根据a去重之后数据集所有变量的结果，需要制定参数.keep_all=TRUE：

In [5]:
tmp %>% distinct(a,.keep_all=TRUE) # 对数据集进行去重

  a b
1 1 2
2 2 4
3 3 5

上面的代码根据a变量进行了去重，去除了a变量中重复的所有行，然后将剩下的数据作为结果返回。从结果中可以看到，b变量还有重复的数据，如果想要对于多个变量进行去重，调用多次distinct函数:

In [8]:
tmp %>% distinct(a,.keep_all = T) %>% distinct(b,.keep_all = T) # 对两个变量进行去重

  a b
1 1 2
2 2 4
3 3 5

上面的代码分别对于a变量和b变量进行了去重，这样的话，每一个变量中都不带有重复的数据。但是还有另外另外一种情况，有一个数据集收集了人们的身份信息，包括姓名，身份证等等，如果要去重则不能单独根据姓名一个变量去重，而是姓名和身份证号码都重复了才认为是重复的。对于上面的例子，就是希望删除a变量和b变量同时一样的数据，

In [9]:
tmp %>% distinct(a,b,.keep_all=TRUE) # 对两个变量进行去重

  a b
1 1 2
2 1 3
3 2 4
4 3 5

上面的代码删除了a变量和b变量同时相同的数据。上面的代码等价于```distinct(tmp)```,默认对所有的变量进行去重。上面的方法对于数据集进行去重，几乎所有的去重要求都可以通过上面的方法实现。

另外比较常用的函数是抽样函数，当我们需要对于数据集进行取子集的时候则可以使用，这些抽样函数包括sample_n,sample_frac.sample_fra函数用于对数据集合根据比例进行抽取

In [10]:
dim(iris) # 查看数据的维度

sample_frac(tbl = iris,size = 0.2,replace = F) %>% dim() # 抽取数据 - 根据比例

[1] 150   5

[1] 30  5

上面的代码对于iris数据集进行了抽样，sample_frac函数的第一个参数是所需要抽样的数据集，第二个参数是数据集的比例大小，是0-1中间的一个数值。replace函数用于指定是否进行又放回的抽样，第四个参数是weight，默认情况下所有行的数据的权重是一样的，意味着所有数据被抽取的可能性是一样的，如果不选择默认，weight必须等于一个与输入长度相同的非负数向量。权重自动标准化为1。sample_n函数用于直接抽取数据集的行